<div class="banner text-center">
  <div>
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <%= link_to "All My Lists", lists_path, class: "btn btn-ghost-home m-4"  %>
  </div>
</div>
<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/houzyk" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon Mauritius
  </div>
</div>
