<div class="container">
  <div class="cards">
      <% @lists.each do |list|%>
          <div class="card-category" data-aos="fade-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to "#{list.name}", list_path(list), class:"btn btn-ghost-card"%>
          </div>
      <% end %>
  </div>
</div>
