<div class="container">
  <div class="cards m-2">
      <% @lists.each do |list|%>
          <div class="card-category" data-aos="fade-in">
            <%= link_to "#{list.name}", list_path(list) %>
          </div>
      <% end %>
  </div>
</div>
