<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h5 class="text-center my-3">Add A New List of Movies</h5>
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, label:false, placeholder: "New List Name"%>
        <div class="text-center">
          <%= f.submit class: "btn btn-ghost"%> <br>
          <%= link_to "Cancel", lists_path, class: "btn btn-ghost-danger mt-3"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
