.navbar-lewagon {
  justify-content: space-between;
  background:rgb(251, 255, 241);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-home {
  font-size: xx-large;
  color: rgb(25, 50, 60);
}

.navbar-home:hover {
  font-size: xx-large;
  color: rgb(25, 50, 60);
  opacity: 0.8;
}
